---
import PatternLayout from "../../layouts/PatternLayout.astro";

export const meta = {
  title: "Chromatic Abberation",
  description:
    "Using complementary colors as a shadow to create modern-looking effect.",
  date: "2023-02-07",
  referenceUrl:
    "https://anthonyhobday.com/sideprojects/visualtechniques/techniques/other/chromatic-aberration.html",
  dateUpdated: "2023-02-07",
};
---

<PatternLayout title="Shape Playground">
  <div class="relative m-3 flex">
    <div
      class="absolute top-0 left-0 flex h-24 w-24 rounded-md bg-sky-500 opacity-70"
    >
    </div>
    <div
      class="absolute top-2 left-2 z-20 flex h-24 w-24 items-center rounded-md bg-slate-700 text-center font-semibold text-gray-300"
    >
      chromatic abberation
    </div>
    <div
      class="absolute top-4 left-4 z-10 flex h-24 w-24 rounded-md bg-rose-400 opacity-70"
    >
    </div>
  </div>
</PatternLayout>
