---
import type { AstroInstance } from "astro";

import PatternLayout from "../../layouts/PatternLayout.astro";
import Card from "../../components/Card.astro";

import { patternSchema } from "../../types/index";
import { parseFileName } from "../../utils";

// I wonder if we can sort these?
interface PatternProps extends AstroInstance {
  meta: typeof patternSchema;
}

const posts = await Astro.glob<PatternProps>("./*.astro");
---

<PatternLayout title="Shape Playground">
  <main class="flex flex-col">
    <div class="self-center text-3xl sm:w-10/12 md:w-3/4 2xl:w-1/2">
      <ul role="list" class="flex-row p-3">
        {
          posts.map((post) => (
            <Card
              href={post.url || ""}
              title={parseFileName(post.file)}
              body={post.meta?.description || ""}
              // TODO: why am I getthing a type error when accesing isDraft but not description?
              isDraft={post.meta?.isDraft || false}
            />
          ))
        }
      </ul>
    </div>
  </main>
</PatternLayout>
