---
import PatternLayout from "../layouts/PatternLayout.astro";
---

<PatternLayout title="Shape Playground">
  <main class="flex flex-col justify-center">
    <div class="m-3">
      <h1 class="font-bold">Patterns and Explorations</h1>
      <br />
      <p>Welcome!</p>

      <p>
        Contribute to the project <a
          href="https://github.com/drewrey/patterns"
          class="underline underline-offset-2">on Github.</a
        >
      </p>
    </div>
  </main>
</PatternLayout>
