---
import PatternLayout from "../layouts/PatternLayout.astro";
---

<PatternLayout title="Shape Playground">
  <main class="flex flex-col justify-center">
    <div class="m-3 sm:w-3/4 md:w-1/2">
      <h1 class="font-semibold">Welcome!</h1>
      <br />

      <p>
        This is a playground for various design ideas. Currently, everything's
        impelmented in Tailwind and HTML, without JavaScript.
      </p>
      <br />

      <p>
        Check out some of the <a
          href="patterns"
          class="underline underline-offset-2">patterns</a
        > and <a href="/explorations" class="underline underline-offset-2"
          >explorations</a
        > while you're here.
      </p>

      <p>
        If you'd like to get in touch, send me <a
          class="underline underline-offset-2"
          href="https://twitter.com/drewreylupton">a message</a
        >.
      </p>
      <br />

      <p>
        Contribute to the project <a
          href="https://github.com/drewrey/patterns"
          class="underline underline-offset-2">on github</a
        >.
      </p>
    </div>
  </main>
</PatternLayout>
