---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

// I wonder if we can sort these?
const posts = await Astro.glob("../pages/patterns/*.astro");
---

<Layout title="Shape Playground">
  <main>
    <h1>Welcome to <span class="text-green-800">Shape Playground</span></h1>
    <ul role="list" class="grid gap-1 p-0">
      {
        posts.map((post) => (
          <article>
            <Card
              href={post.url || ""}
              title={post.file
                .split("/")
                .slice(-1)[0]
                .replace(".astro", "")
                .replace(/-/g, " ")}
              body=""
            />
          </article>
        ))
      }
    </ul>
  </main>
</Layout>
