---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import type { AstroInstance } from "astro";

// I wonder if we can sort these?
interface PatternProps extends AstroInstance {
  meta: {
    title: string;
    description: string;
    date: Date;
    dateUpdated: Date;
    draft: boolean;
  };
}

const posts = await Astro.glob<PatternProps>("../pages/patterns/*.astro");
---

<Layout title="Shape Playground">
  <main>
    <h1>Welcome to <span class="text-green-800">Shape Playground</span></h1>
    <ul role="list" class="grid gap-1 p-0">
      {
        posts.map((post) => (
          <article>
            <Card
              href={post.url || ""}
              title={post.file
                .split("/")
                .slice(-1)[0]
                .replace(".astro", "")
                .replace(/-/g, " ")}
              body={
                post.meta?.draft === true
                  ? "Draft"
                  : post.meta?.description || ""
              }
            />
          </article>
        ))
      }
    </ul>
  </main>
</Layout>
