---
import type { AstroInstance } from "astro";

import PatternLayout from "../../layouts/PatternLayout.astro";
import Card from "../../components/Card.astro";

import { patternSchema } from "../../types/index";
import { parseFileName } from "../../utils";

// I wonder if we can sort these?
interface PatternProps extends AstroInstance {
  meta: typeof patternSchema;
}

const posts = await Astro.glob<PatternProps>("./*.astro");

posts.map((p) => {
  console.log("meta is ", p?.meta || "");
  console.log("parse is ", patternSchema.safeParse(p?.meta || ""));
  console.log(p.meta?.description);
  console.log(p.meta?.date);
  // TODO: why am I getthing a type error when accesing isDraft but not description?
  console.log(p.meta?.isDraft);
});
---

<PatternLayout title="Shape Playground">
  <main class="flex flex-col">
    <div class="self-center text-5xl">
      <ul role="list" class="m-5 flex-row p-3">
        {
          posts.map((post) => (
            <Card
              href={post.url || ""}
              title={parseFileName(post.file)}
              body={post.meta?.description || ""}
              isDraft={post.meta?.isDraft || false}
            />
          ))
        }
      </ul>
    </div>
  </main>
</PatternLayout>
